.popup__button-create {
  background: black;
  border: none;
  border-radius: 2px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: white;
  padding: 14px 0;
  -webkit-transition: .4s ease;
  -o-transition: .4s ease;
  transition: .4s ease;
}

.popup__button-create:hover {
  opacity: .8;
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  .popup__button-create {
    font-size: 14px;
    line-height: 17px;
  }
}
