.popup__button-close {
  background: url(../../../images/popup__button-close.svg);
  border: none;
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
  padding: 0;
  -webkit-transition: .4s ease;
  -o-transition: .4s ease;
  transition: .4s ease;
}

.popup__button-close:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  .popup__button-close {
    background: url(../../../images/popup__button-close-mobile.svg);
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}
